configuration {
    drun-icon-theme:    "Paper";
    font:               "Comfortaa bold 14";
    cycle:              true;
    hide-scrollbar:     true;
    disable-history:    true;
    fullscreen:         true;
    modi:               "drun";
    show-icons:         true;
}
